//
// Weather box
//

.weather-box {
  @extend .container-flex;
  @extend .card;

  @media screen and (min-width: map-get($grid-breakpoints, 'sm')) and (max-width: map-get($grid-breakpoints, 'md')) {
    lost-waffle: 1/1;
  }

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) and (max-width: map-get($grid-breakpoints, 'lg')) {
    lost-waffle: 1/2;
  }

  // Fade in animation
  &.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
  }

  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  .weather-box-city,
  .weather-box-temp,
  .weather-box-misc {
    @extend .col-third;
  }

  .weather-box-temp {
    @extend .text-center;
  }

  .weather-box-temp-number {
    position: relative;
    line-height: 1;

    .weather-box-temp-degree-symbol {
      @extend .text-muted;
      position: absolute;
      top: 0.9em;
      margin-left: -.5em;
      font-size: 12px;
      font-weight: 300;
    }
  }

  .weather-box-temp-description {
    @extend .text-capitalize;
  }

  .weather-box-misc {
    @extend .text-muted;
  }
}
