<div class="topbar">
  <div class="container">
    <tags-input
      class="tags-input"
      ng-model="$ctrl.query"
      on-tag-added="$ctrl.addCity($tag)"
      on-tag-removed="$ctrl.removeCity($tag)"
      placeholder="Enter a city"
      replace-spaces-with-dashes="false">
    </tags-input>
  </div>
</div>

<div class="results-list container-flex">
  <div class="weather-box col-md-third" ng-repeat="city in $ctrl.cities track by city.id">
    <div class="weather-box-city">
      {{city.name}}<br>
      <small class="text-muted">{{$ctrl.date | amDateFormat:'MMMM Do'}}</small>
    </div>
    <div class="weather-box-temp">
      <strong class="weather-box-temp-number lead">
        {{city.main.temp | number:0}}
        <sup class="weather-box-temp-degree-symbol">&deg;C</sup>
      </strong>
      <br>
      <small class="weather-box-temp-description text-muted">{{city.weather[0].description}}</small>
    </div>
    <div class="weather-box-misc">
      <small>Humidity:&nbsp;{{city.main.humidity}}%</small>
      <small>Wind:&nbsp;{{city.wind.speed}}km/h</small>
    </div>
  </div>
</div>
